html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        
    body
        //- - const myStyelSheets = {"color":"red" , "background" : "blue"}
        //- p(style = myStyelSheets) Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate voluptatem vero eaque maxime ea sed culpa repudiandae eveniet exercitationem provident adipisci et, tempora dolor error amet fugit. Dolor, tempore nulla!

        //- - const myClasss = ["red" , "blue" , "green"]
        //- div(class=myClasss) lorem

        //- input(type="text" name="text" placeholder="enter a text" required)
        //- - const myAttributes = {"src" : "myPhoto.png" , "alt":"myphoto"}
        //- img&attributes(myAttributes)

        //- for each loop
        //- - const users = ['shashi' , "keerthi" , "Aarav"]
        //- h1 For/Each Loop
        //- each n , i in users
        //-     p= n + "-" + i

        //- for n in []
        //-     p=n 
        //- else
        //-     strong no values here 

        //- conditional 

        //- h2 My web application
        //- - let user = {name :"shashi" , loggedIn : false , lastlogin : 11}
        //- if user.loggedIn
        //-     p
        //-         | welcome back 
        //-         strong #{user.name}
        //- else if user.lastlogin < 10 
        //-     p your last login #{user.lastlogin} minutes ago        
        //- else
        //-     a(href="/login") login     

        //- incluses statements  
        include nav 

